/peirates

.DS_Store
go.sum
peirates.gz

# build artifacts
peirates-linux-amd64
peirates-linux-amd64.tar.xz
peirates-linux-arm
peirates-linux-arm.tar.xz
peirates-linux-arm64
peirates-linux-arm64.tar.xz
peirates-linux-386
peirates-linux-386.tar.xz